#knowledgeMenus {
    width: 20%;
    background-color: #f4f3f2;
    height: 800px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    float: left;
}

#knowledge{
    width: 100%;
    /*background-color: aqua;*/
    height: 800px;
}
.knowledgeMenu {
    width: 90%;
    font-size: 28px;
    font-family: 'Arial Normal', 'Arial';
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    margin-top: 20px;
    text-align: center;
    border-width: 1px;;
    margin-left: 5%;
}

#inputFrom {
    margin-top: 6%;
    width: 40%;
    float: left;
}

#imputImg{
    width: 40%;
    height: 100%;
    float: left;
}

#imputImg img{
    height: 80%;
    margin-top: 5%;
}

#search {
    height: 25%;
    background-color: #c0c3c2;
}

#inputText {
    margin-left: 100px;
    height: 35px;
    display: block;
    float: left;
    width: 50%;
}

#inner {
    width: 86%;
    margin: auto;
    margin-top: 30px;
}

#pageInfo{
    margin-top: 20px;
    margin-left: 25%;
    height: 460px;
    font-size: 21px;
    font-family: monospace;
}

.borderTr{
    border-bottom: #c0c3c2 solid 1px;
}

